body {
  background: #F3FFF4;
}


/* HERO SECTION */
#home-hero {
  min-height: 95vh;
  /* background-color: #F1F7ED; */
  font-family: 'Dela Gothic One', cursive;
  background-image: url('../../img/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: white;
}

#home-hero .container {
  height: 95vh;
}

#home-hero .row{
  height: 100%;
  justify-content: center;
  text-align: center;
}

#home-hero .title {
  font-size: 50px;
}

#home-hero .sub-title {
  font-size: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #home-hero {
    min-height: 65vh;
    background-color: #F1F7ED;
    font-family: 'Dela Gothic One', cursive;
  }
  
  #home-hero .container {
    height: 65vh;
  }
  #home-hero .title {
    font-size: 50px;
  }
  
  #home-hero .sub-title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #home-hero {
    min-height: 65vh;
    background-color: #F1F7ED;
    font-family: 'Dela Gothic One', cursive;
  }
  
  #home-hero .container {
    height: 65vh;
  }
  #home-hero .row {
    justify-self: left;
    text-align: left;
  }
  #home-hero .title {
    font-size: 35px;
  }
  
  #home-hero .sub-title {
    font-size: 18px;
  }
}

/* END HERO SECTION */

/* WELCOME SECTION */
#welcome {
  font-family: 'Dela Gothic One', cursive;
  background: #F3FFF4;
}

#welcome .description {
  font-family: 'Times New Roman', Times, serif;
}
/* END WELCOME SECTION */
#feature {
  /* background: #F3FFF4; */
  /* background: linear-gradient(#048853, #F3FFF4); */
  /* background: linear-gradient(#048853, #b4f8b9); */
  /* background: linear-gradient(160deg, #048853, #000); */
  background: #FFF;
}

#feature .box{
  background-color: #F3FFF4;
}

#village {
  background: #F3FFF4;
}

#village .village-box {
  position: relative;
  overflow: hidden;
}

#village .village-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Warna hitam transparan */
  opacity: 0; /* Mulai transparan saat awal */
  transition: opacity 0.3s ease; /* Efek transisi muncul */
}

#village .village-box:hover::before {
  opacity: 1; /* Transparan menjadi penuh saat di-hover */
}

#village .village-box h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Warna teks putih */
  opacity: 0; /* Mulai transparan saat awal */
  transition: opacity 0.3s ease; /* Efek transisi muncul */
}

#village .village-box h3 .address {
  font-size: 20px;
}


#village .village-box:hover h3 {
  opacity: 1; /* Teks menjadi terlihat saat di-hover */
}